.tran-all {
    transition-property: all;
}

.tran-d-6 {
    transition-duration: 0.6s;
}

.tran-d-5 {
    transition-duration: 0.5s;
}

.tran-d-4 {
    transition-duration: 0.4s;
}

.tran-d-3 {
    transition-duration: 0.3s;
}

.tran-d-2 {
    transition-duration: 0.2s;
}

.tran-d-1 {
    transition-duration: 0.1s;
}
